@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
  position: absolute;
  font-family: 'Poppins', sans-serif !important;
  top: 0;
  bottom: 0;
  margin: auto;
} 

.flex-container {
  display: flex;
  justify-content: center;
  height: 100%;
  max-width: 1920px;
  margin: auto;
}

.page-container {
  width: 100vw;
  height: 100%;
  display: flex;
} 

.column-wrapper {
  display: flex;
  flex-direction: column;
}

.column-wrapper > *:not(:last-child) {
  margin-bottom: 10px;
} 

.button {
  cursor: pointer;
  background-color: transparent;
  border-radius: 15px;
  border: 2px solid black;
  color: black;
  padding: 10px 15px;
  text-align: center;
}

.button:hover {
  text-decoration: none;
  color: #9ACC91;
}

.button--filled {
  border: 2px solid #9ACC91;
  background-color: #9ACC91;
}

.button--filled:hover {
  color: white;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
} 