<div class="navigation--sub">
    <div class="container">
        <nav>
            <a [routerLink]="'/admin/home'">Startseite</a>
            <ul>
                <li><a [routerLink]="'/admin/produkte'">Produkte</a></li>
                <li><a [routerLink]="'/admin/lieferanten'">Lieferanten</a></li>
                <li><a [routerLink]="'/admin/filialen'">Filialen</a></li>
                <li><a [routerLink]="'/admin/nutzer'">Mitarbeiter</a></li>
                <li><a [routerLink]="'/admin/statistik'">Berichte</a></li>
            </ul>
        </nav>
    </div>
</div>
