<div class="payment page-container">
    <div class="column-wrapper">
        <h1>Zahlungsmethode:</h1>
        <button 
            class="button" 
            (click)="checkoutCash()"
        >
            Barzahlung
        </button>
        <button 
            class="button" 
            [class.disabled]="expressMode"
            (click)="checkoutCard()"
        >
            Kartenzahlung
        </button>
    </div>
    <div *ngIf="paymentMethod != undefined" class="payment__overlay">
        <div class="payment__overlay-content">
            <h2 *ngIf="cardPayment">Kartenzahlung</h2>
            <h2 *ngIf="cashPayment">Barzahlung</h2>

            <h3>{{ totalPrice.toFixed(2) }} €</h3>

            <div *ngIf="cashPayment" class="payment__cash">
                <div class="column-wrapper">
                    <label for="handed-cash">
                        <strong>Bezahlt:</strong>
                    </label>
                    <input name="handed-cash" type="number" [(ngModel)]="handedCash" min=0.00 step="0.01">
                </div>
                <div class="column-wrapper">
                    <strong>Rückgeld:</strong>
                    <span>{{ cashback.toFixed(2) }} €</span>
                </div>
            </div>
    
            <div *ngIf="cardPayment" class="payment__card">
                <div class="column-wrapper">
                    <strong *ngIf="paymentAccepted" class="success">Die Zahlung war erfolgreich</strong>
                    <strong *ngIf="!paymentAccepted">
                        Bitte die Karte in das Kartenlesegerät einführen und den Anweisungen auf dem Terminal folgen
                    </strong>
                </div>
            </div>
        
            <div class="column-wrapper">
                <button 
                    class="button button--filled"
                    [class.disabled]="!paymentAccepted"
                    (click)="confirmPayment()"
                >
                    Vorgang abschließen
                </button>
                <button 
                    class="button" 
                    (click)="resetPaymentMethod()"
                >
                    Zurück
                </button>
            </div>
        </div>
    </div>
</div>