@import "variables";

.payment {
    @include flex-center();
    position: relative;

    h1 {
        font-size: $headline-l;
        margin-bottom: $spacing-m;
    }

    &__overlay {
        @include overlay();
        @include flex-center();
        background-color: rgba(black, 0.5);
        text-align: center;

        &-content {
            @include flex-center($direction: column);
            @include color-scheme-primary();
            border-radius: $border-radius-s;
            width: 80%;
            max-width: 600px;
            min-height: 80%;
            padding: $spacing-s;

            .column-wrapper {
                margin-top: 30px;
            }

            > *:not(:last-child) {
                margin-bottom: 20px;
            }

            input {
                @include color-scheme-primary();
                border-radius: $border-radius-s;
                border-width: $border-width;
                border-style: solid;
                padding: $spacing-xs;
                text-align: center;
            }
        }
    }
}