<div class="payment page-container">
    <div class="column-wrapper">
        <h1>Zahlungsmethode:</h1>
        <button 
            class="button" 
            (click)="checkoutCash()"
        >
            Barzahlung
        </button>
        <button 
            class="button" 
            [class.disabled]="expressMode"
            (click)="checkoutCard()"
        >
            Kartenzahlung
        </button>
    </div>
    <div *ngIf="paymentMethod != undefined" class="payment__overlay">
        <div class="payment__overlay-content">
            <h2 *ngIf="cardPayment">Kartenzahlung</h2>
            <h2 *ngIf="cashPayment">Barzahlung</h2>

            <h3>{{ totalPrice.toFixed(2) }} €</h3>

            <div *ngIf="cashPayment" class="payment__cash">
                <div class="column-wrapper">
                    <label for="handedCash">Bezahlt:</label>
                    <input
                        name="handedCash"
                        type="number"
                        required
                        [(ngModel)]="handedCash"
                        min=0.00
                        step="0.01"
                    >
                </div>
                <div class="column-wrapper">
                    Rückgeld:
                    <span>{{ cashback.toFixed(2) }} €</span>
                </div>
            </div>
    
            <div *ngIf="cardPayment" class="payment__card">
                <form class="column-wrapper" (submit)="confirmPayment()">
                    <strong *ngIf="paymentAccepted" class="success">
                        Die Zahlung war erfolgreich
                    </strong>
                    <strong *ngIf="cardPaymentError" class="error">
                        Die Zahlung ist fehlgeschlagen
                    </strong>
                    <label for="cardNumber">Kartennummer:</label>
                    <input 
                        name="cardNumber"
                        required
                        [class.form-error]="cardPaymentError"
                        [(ngModel)]="creditCard.number"
                    >
                    <label for="cardPin">Geheimzahl:</label>
                    <input
                        type="password"
                        required
                        [class.form-error]="cardPaymentError"
                        [(ngModel)]="creditCard.pin"
                    >
                </form>
            </div>
        
            <div class="column-wrapper">
                <button
                    *ngIf="(cardPayment && !paymentAccepted)"
                    class="button button--filled"
                    (click)="confirmPayment()"
                >
                    Bestätigen
                </button>
                <button 
                    *ngIf="(cardPayment && paymentAccepted) || cashPayment"
                    class="button button--filled"
                    [class.disabled]="!paymentAccepted"
                    (click)="confirmCheckout()"
                >
                    Vorgang abschließen
                </button>
                <button 
                    class="button"
                    [class.disabled]="cardPayment && paymentAccepted"
                    (click)="resetPaymentMethod()"
                >
                    Zurück
                </button>
            </div>
        </div>
    </div>
</div>
