<div class="checkout">
    <div class="checkout__products">
        <div class="checkout__search-bar">
            <input #filter
                placeholder="Produkt suchen"
                (change)="setFilter(filter.value)"
            >
        </div>
        <app-product-list
            [filter]="filter.value"
            (clickProductEvent)="addToCard($event)"
        ></app-product-list>
    </div>
    <div class="checkout__shopping-card">
        <app-shopping-card
            [products]="shoppingCard"
            (addProductEvent)="addToCard($event)"
            (removeProductEvent)="removeFromCard($event)"
        ></app-shopping-card>
    </div>
</div>