<div class="store page-container">
    <div class="container">
        <section>
            <h1>Geschäftstelle {{ storeId }}</h1>
        </section>
        <section>
            <h2>Jahresumsatz</h2>
            <canvas id="salesChart">{{ salesChart }}</canvas>
        </section>
        <section *ngIf="runningOutOfStock.length">
            <h2>Geringer Bestand:</h2>
            <ul>
                <app-product-table-row 
                    *ngFor="let product of runningOutOfStock"
                    [product]="product"
                    (selectProductEvent)="addToCard($event)"
                >
                </app-product-table-row>
            </ul>
            <a [routerLink]="'/store/products'">Alle Produkte</a>
        </section>
        <section *ngIf="pendingOrders.length">
            <h2>Ausstehende Bestellungen</h2>
            <app-accordion 
                *ngFor="let order of pendingOrders"
                [header]="title(order)"
            >
                <app-store-order-detail [order]="order">
                </app-store-order-detail>
            </app-accordion>
            <a [routerLink]="'/store/orders'">Alle Bestellungen</a>
        </section>
    </div>
</div>
