$text-xs: 14px;
$text-s: 16px;
$text-m: 18px;
$text-l: 22px; 

$headline-l: 28px;
$headline-xl: 34px;
$headline-xxl: 40px;

$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;

$font-family: 'Manrope', sans-serif !important;
