@import "../../styles.scss";

.product-card {
    cursor: pointer;
    @include flex-center(flex-start, column);
    height: 180px;
    width: 200px;
    border-radius: $border-radius-s;
    border: 1px solid $color-grey;
    background-color: white;
    margin: 8px;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.04);

    &:hover {
        box-shadow: 10px 10px 0 0 rgba($color-light-green, 0.16);
    }
    
    &__image {
        height: 60%;
        width: 100%;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        background-color: $color-light-grey;
    }
    
    &__attributes {
        @include flex-center($direction: column);
        height: 40%;
        
        & > strong {
            @include text-break();
        }

        .discount {
            margin-left: 5px;
            color: $color-light-green;
        }

        .discounted {
            text-decoration: line-through;
        }
    } 
}