<div class="product-card">
    <div class="product-card__image">
        <img
            loading="lazy"
            *ngIf="product.imageUrl"
            [src]="product.imageUrl"
            [alt]="product.name"
        >
    </div>
    <div class="product-card__attributes">
        <strong>{{ product.name }}</strong>
        <div>
            <span [class.discounted]="discount">{{ product.salePrice }} €</span>
            <span *ngIf="discount" class="discount">{{ getDiscountedPrice() }} €</span>
        </div>
    </div>
</div>