<li
    class="product-table-row"
    [class.product-table-row--warn]="warn"
    [id]="product.id"
    (click)="select()"
>
    <div class="product-table-row__stock" *ngIf="amount != undefined">
        <strong>{{ amount }}</strong>
    </div>
    <div class="product-table-row__info">
        {{ product.name }}<br>
        Artikelnummer: {{ product.id }}
    </div>
    <div class="product-table-row__sale-price">
        <input
            *ngIf="editable" 
            type="number"
            [min]="product.price"
            step="0.01"
            [(ngModel)]="product.salePrice"
            (change)="updatePrice()"
        >
    </div>
    <div class="product-table-row__price">
        {{ product.price.toFixed(2) }} €
    </div>
</li>