@import "variables";

.product-table-row {
    width: 100%;
    @include flex-center($justify: space-between);
    background-color: $color-light-grey;
    margin: 5px 0;
    padding: $spacing-s;
    font-size: $text-xs;
    cursor: pointer;

    &:hover {
        background-color: $color-grey;
        input {
            background-color: $color-light-grey;
        }
    }

    &__stock {
        flex-basis: 15%;
    }

    &__info {
        flex-basis: 55%;
    }

    &__price {
        flex-basis: 15%;
        text-align: right;
    }

    &__sale-price {
        flex-basis: 15%;
        input {
            max-width: 75px;
            border: 0;
            background-color: $color-grey;
            text-align: center;
        }
    }

    &--warn {
        background-color: #495057;
        
         * {
            color: $color-white;
        }

        input {
            background-color: darkslategray;
        }

        &:hover {
            background-color: darkslategrey;
            input {
                background-color: #495057;
            }
        }
    }
}