<div class="product-detail page-container">
    <div class="container">
        <section>
            <h1 *ngIf="!create">{{ product.name }}</h1>
            <h1 *ngIf="create">Neues Produkt erstellen</h1>
        </section>
        <section>
            <div class="product-detail__data">
                <label class="product-detail__image">
                    <input
                        type="file"
                        accept=".jpg, .jpeg, .png"
                        (change)="uploadImage($event.target.files)"
                    >
                    <img 
                        *ngIf="product.imageUrl"
                        [src]="product.imageUrl"
                        [alt]="product.name"
                    >
                </label>
                <div class="product-detail__attributes">
                    <div>
                        <p>Produktname</p>
                        <input
                            type="text"
                            [(ngModel)]="product.name"
                            (change)="updateProduct()"
                        >
                    </div>
                    <div>
                        <p>Artikelnummer</p>
                        <p *ngIf="!create">{{ product.id }}</p>
                        <input *ngIf="create"
                            type="number"
                            [min]="1"
                            step="1"
                            [(ngModel)]="product.id"
                            (change)="updateProduct()"
                        >
                    </div>
                    <div>
                        <p>Preis</p>
                        <p *ngIf="!create">{{ product.price.toFixed(2) }} €</p>
                        <p *ngIf="create">
                            <input
                                type="number"
                                [min]="0"
                                step="0.01"
                                [(ngModel)]="product.price"
                                (change)="updateProduct()"
                            > €
                        </p>
                    </div>
                    <div>
                        <p>Verkaufspreis</p>
                        <p>
                            <input
                                type="number"
                                [min]="product.price"
                                step="0.01"
                                [(ngModel)]="product.salePrice"
                                (change)="updateProduct()"
                            > €
                        </p>
                    </div>
                    <div>
                        <p>Beschreibung</p>
                        <textarea
                            [(ngModel)]="product.description"
                            (change)="updateProduct()"
                        ></textarea>                      
                    </div>
                    <div class="product-detail__card-button">
                        <button
                            *ngIf="!create"
                            class="button"
                            (click)="addToCard()"
                        >In den Warenkorb</button>
                        <button *ngIf="create" class="button" (click)="createProduct()">
                            Produkt speichern
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
