<div class="product-detail page-container">
    <div class="container">
        <section>
            <h1>{{ product.name }}</h1>
        </section>
        <section>
            <div class="product-detail__data">
                <label class="product-detail__image">
                    <input
                        type="file"
                        accept=".jpg, .jpeg, .png"
                        (change)="uploadImage($event.target.files)"
                    >
                    <img 
                        *ngIf="product.imageUrl"
                        [src]="product.imageUrl"
                        [alt]="product.name"
                    >
                </label>
                <div class="product-detail__attributes">
                    <div>
                        <p>Produktname</p>
                        <input
                            type="text"
                            [(ngModel)]="product.name"
                            (change)="updateProduct()"
                        >
                    </div>
                    <div>
                        <p>Artikelnummer</p>
                        <p>{{ product.id }}</p>
                    </div>
                    <div>
                        <p>Preis</p>
                        <p>{{ product.price.toFixed(2) }} €</p>
                    </div>
                    <div>
                        <p>Verkaufspreis</p>
                        <p>
                            <input
                                type="number"
                                [min]="product.price"
                                step="0.01"
                                [(ngModel)]="product.salePrice"
                                (change)="updateProduct()"
                            > €
                        </p>
                    </div>
                    <div>
                        <p>Lieferant</p>
                        <p>{{ product.provider.name }}</p>
                    </div>
                    <div>
                        <p>Beschreibung</p>
                        <textarea
                            [(ngModel)]="product.description"
                            (change)="updateProduct()"
                        ></textarea>                      
                    </div>
                    <div class="product-detail__card-button">
                        <button
                            class="button"
                            (click)="addToCard()"
                        >In den Warenkorb</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
