@mixin color-scheme-primary() {
    color: $color-black;
    background-color: $color-white;
    border-color: $color-black;
}

@mixin color-scheme-green() { 
    color: $color-black;
    background-color: $color-light-green;
    border-color: $color-light-green;
}

@mixin color-scheme-grey() {
    color: $color-black;
    background-color: $color-grey;
}
