@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "E-Mail Adresse wurde erfolgreich geändert";
}

<div class="center-content">
    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>