@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Two-factor authentication";
}

<div class="center-content">
    <section>
        <h1>@ViewData["Title"]</h1>
    </section>
    <section>
        <p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>
    </section>
    <section>
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <input asp-for="RememberMe" type="hidden" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="input-wrapper">
                <label asp-for="Input.TwoFactorCode"></label>
                <input asp-for="Input.TwoFactorCode" class="input--labeled" autocomplete="off" />
            </div>
            <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMachine">
                        <input asp-for="Input.RememberMachine" />
                        @Html.DisplayNameFor(m => m.Input.RememberMachine)
                    </label>
                </div>
            </div>
            <button type="submit">Log in</button>
        </form>
    </section>
    <section>
        <p>
            Don't have access to your authenticator device? You can
            <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">log in with a recovery code</a>.
        </p
    </section>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
