@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registerung erfolgreich";
}

<div class="center-content">
    <div>
        <section>
            <h1>@ViewData["Title"]</h1>
        </section>
        <section>
            <p>
                <a id="confirm-link" href="@Model.EmailConfirmationUrl">Klicke hier um deine E-Mail Adresse zu bestätigen</a>
            </p>
        </section>
    </div>
</div>
