<div class="shopping-card">
    <ul class="shopping-card__items">
        <li 
            *ngFor="let product of getProducts()" 
            (click)="select(product)"
        >
            <span>{{ getAmount(product) }}</span>
            <span>{{ product.name }}</span>
            <span>{{ product.price.toFixed(2) }} €</span>
            <button 
                *ngIf="isSelected(product)" 
                class="shopping-card__remove-button"
                (click)="removeProduct(product)"
            >x</button>
        </li>
    </ul>
    <div class="shopping-card__summary">
        <div 
            *ngIf="discount" 
            class="shopping-card__total"
        >
            <span>Zwischensumme</span>
            <span>{{ getSum().toFixed(2) }} €</span>
        </div>
        <div 
            *ngIf="discount" 
            class="shopping-card__discount"
        >
            <strong>- {{ (discount * 100).toFixed(2) }}%</strong>
            <strong>{{ getDiscount().toFixed(2) }} €</strong>
        </div>
        <div class="shopping-card__total">
            <strong>Gesamtsumme</strong>
            <strong>{{ getTotalPrice().toFixed(2) }} €</strong>
        </div>
        <div class="shopping-card__complete column-wrapper">
            <button 
                class="button" 
                (click)="completeCheckout()"
                [class.disabled]="!getTotalPrice()"
            >Kauf abschließen</button>
        </div>
    </div>
</div>