.shopping-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: inherit;
    height: 100%;
    padding: 20px;

    &__items {
        width: 100%;
        cursor: pointer;
        list-style-type: none;
        padding-inline-start: 0;

        li {
            width: 100%;
            min-height: 35px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            & > span {
                &:not(:last-of-type) {
                    margin-right: 10px;
                }

                &:nth-last-of-type(2) {
                    width: 70%;
                    word-wrap: break-word;
                    hyphens: auto;
                }
            } 
        }
    }
    
    &__remove-button {
        color: white;
        background-color: darkred; 
        position: absolute;
        right: 0;
        border: none;
        height: 35px;
        width: 80px;
        margin-left: 10px;
    } 
    
    &__summary {
        display: flex;
        flex-direction: column;
        padding: 20px;
        position: absolute;
        bottom: 0;
        width: 100%;
        border-top: 2px solid #eee;
    }
    
    &__total, &__discount {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    } 

    &__discount {
        color: #9ACC91;
        padding-bottom: 5px;
        margin-bottom: 15px;
        border-bottom: 1px solid #eee
    }
    
    &__complete {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;

        .button {
            width: 100%;
        }
    }
}
