<div class="shopping-card">
    <ul class="shopping-card__items">
        <li 
            *ngFor="let item of shoppingCard"
            (click)="select(item.product)"
        >
            <span>{{ item.amount }}</span>
            <span>{{ item.product.name }}</span>
            <span>{{ item.product.salePrice.toFixed(2) }} €</span>
            <button 
                *ngIf="isSelected(item.product)" 
                class="shopping-card__remove-button"
                (click)="removeProduct(item.product)"
            >x</button>
        </li>
    </ul>
    <div class="shopping-card__summary">
        <div 
            *ngIf="discount" 
            class="shopping-card__total"
        >
            <span>Zwischensumme</span>
            <span>{{ shoppingCardSum.toFixed(2) }} €</span>
        </div>
        <div 
            *ngIf="discount" 
            class="shopping-card__discount"
        >
            <strong>- {{ (discount * 100).toFixed(2) }}%</strong>
            <strong>{{ totalDiscount.toFixed(2) }} €</strong>
        </div>
        <div class="shopping-card__total">
            <strong>Gesamtsumme</strong>
            <strong>{{ totalPrice.toFixed(2) }} €</strong>
        </div>
        <div class="shopping-card__complete column-wrapper">
            <button 
                class="button" 
                (click)="completeCheckout()"
                [class.disabled]="!totalPrice"
            >Kauf abschließen</button>
        </div>
    </div>
</div>