@import "variables";

.product-detail {
    @include flex-center($justify: space-between);
    align-items: flex-start;
    flex-wrap: wrap;

    &__image {
        flex-basis: 50%;
        aspect-ratio: 1/1;
        background-color: $color-light-grey;
        background-image: url('src/assets/img/default-image.jpg');
        background-size: 100% 100%;
        background-position: 50% 60%;

        input[type="file"] {
            display: none;
        }

        label:hover {
            cursor: pointer;
        }

        @media all and (max-width: 1000px) {
            flex-basis: 100%;
        }
    }

    &__attributes {
        flex-basis: 50%;
        @include flex-center($direction: column);

        @media all and (max-width: 1000px) {
            flex-basis: 100%;
            margin-top: $spacing-s;

            .input-wrapper, .input--labeled {
                width: 100%;
            }
           
        }

        > * {
            text-align: center;         
            
            textarea {
                font-size: $text-xs;
            }
        }
    }

    &__save-button {
        margin-top: $spacing-m;
        width: 70%;

        .button__form {
            width: 70%;
            max-width: 500px;
        }
    }
}