body {
  @include color-scheme-primary();
  position: absolute;
  font-family: $font-family;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  margin: auto;
  min-width: 320px;

  * {
    font-family: $font-family;
    color: $color-black;
  }
} 

button, a, i {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin-bottom: 0;
}

section {
  margin-top: $spacing-s;
  margin-bottom: $spacing-m;

  &:last-of-type {
    padding-bottom: $spacing-m;
  }
}

.success {
  color: $color-light-green;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.store, .enterprise {
  margin-top: 60px;
}
