button {
  border: 0;
  background-color: transparent;
  user-select: none;
}

.button {
  @include color-scheme-primary();
  background-color: transparent;
  border-radius: $border-radius-s;
  border-width: $border-width;
  border-style: solid;
  padding: $spacing-xs $spacing-s;
  
  &:hover {
    color: #9ACC91;
    text-decoration: none
  }

  &__form {
    background-color: $color-light-grey;
    border: 1px solid $color-grey;
    padding: $spacing-xs;
    border-radius: 2px;
    margin: $spacing-s 0;
    max-width: 300px;
  } 
}
  
.button--filled {
  @include color-scheme-green();
  
  &:hover {
    color: $color-white;
  }
}

