select {
    @include color-scheme-primary();
    background-color: transparent;
    border-radius: $border-radius-s;
    border-width: $border-width;
    border-style: solid;
    padding: $spacing-xs $spacing-s;
    margin: $spacing-xs;
    min-width: 200px;
    font-family: $font-poppins;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:active,
    &:focus {
      outline: none;
      box-shadow: none;
    }
}
