<div class="users page-container">
  <div class="container">
    <section>
      <h1>Nutzer</h1>
    </section>
    <section>
      <h2>Neuen Nutzer hinzufügen</h2>
      <div class="user-detail" (submit)="submitUser()">
        <div>
          <div class="input-wrapper">
            <label for="firstName">Vorname</label>
            <input name="firstName"
                   type="text"
                   [(ngModel)]="newUser.firstName"
                   class="input--labeled">
          </div>
          <div class="input-wrapper">
            <label for="lastName">Nachname</label>
            <input name="lastName"
                   type="text"
                   [(ngModel)]="newUser.lastName"
                   class="input--labeled">
          </div>
          <div class="input-wrapper">
            <label for="store">Filiale</label>
            <select name="store"
                   [(ngModel)]="newUser.store"
                   class="input--labeled">
              <option *ngFor="let store of stores" [ngValue]="store">
                {{ store.name }}
            </option>
            </select>
          </div>
        </div>
        <div>
          <div class="input-wrapper">
            <label for="email">E-Mail</label>
            <input name="email"
                   type="text"
                   required
                   [(ngModel)]="newUser.email"
                   class="input--labeled">
          </div>
          <div class="input-wrapper">
            <label for="password">Passwort</label>
            <input name="password"
                   type="password"
                   required
                   [(ngModel)]="newUserPassword"
                   class="input--labeled">
          </div>
          <button class="button__form" type="submit">Speichern</button>
        </div>
      </div>
    </section>
    <section>
      <h2>Alle Nutzer</h2>
      <app-accordion *ngFor="let user of users"
                     [header]="user.lastName">
        <div class="user-detail">
          <div>
            <div class="input-wrapper">
              <label for="firstName">Vorname</label>
              <input name="firstName"
                     type="text"
                     readonly="readonly"
                     [(ngModel)]="user.firstName"
                     class="input--labeled">
            </div>
            <div class="input-wrapper">
              <label for="lastName">Nachname</label>
              <input name="lastName"
                     type="text"
                     readonly="readonly"
                     [(ngModel)]="user.lastName"
                     class="input--labeled">
            </div>
          </div>
          <div>
            <div class="input-wrapper">
              <label for="email">E-Mail</label>
              <input name="email"
                     type="text"
                     readonly="readonly"
                     [(ngModel)]="user.email"
                     class="input--labeled">
            </div>
            <div class="input-wrapper" *ngIf="user.store">
              <label for="store">Filiale</label>
              <select name="store"
                   [(ngModel)]="user.store"
                   class="input--labeled">
                  <option *ngFor="let store of stores" [ngValue]="store">
                    {{ store.name }}
                  </option>
              </select>
            </div>
            <button class="button__form"
                    (click)="saveChanges(user)">
              Speichern
            </button>
          </div>
        </div>
      </app-accordion>
    </section>
  </div>
</div>
