@import "variables";

.products {
    &__add-button {
        width: 100%;
        @include flex-center();

        background-color: $color-light-grey;
        margin: 0;
        padding: $spacing-s;
        font-size: $text-m;
        font-weight: $weight-medium;
        opacity: 0.6;
        cursor: pointer;
    } 
}