<div class="products page-container">
    <div class="container">
        <section>
            <h1>Produkte</h1>
        </section>
        <section>
            <ul>
                <app-product-table-row 
                    *ngFor="let product of products"
                    [product]="product"
                    (selectProductEvent)="toDetailPage($event)"
                >
                </app-product-table-row>
            </ul>
            <button
                class="products__add-button"
                (click)="createProduct()"
            >+</button>
        </section>
</div>
