<div class="orders page-container">
    <div class="container">
        <section>
            <h1>Bestellungen</h1>
        </section>
        <section *ngIf="openOrders.length">
            <h2>Offene Bestellungen</h2>
            <app-accordion 
                *ngFor="let order of openOrders"
                [header]="title(order)"
            >
                <store-order-detail [order]="order">
                </store-order-detail>
            </app-accordion>
        </section>
        <section *ngIf="pendingOrders.length">
            <h2>Ausstehende Bestellungen</h2>
            <app-accordion 
                *ngFor="let order of pendingOrders"
                [header]="title(order)"
            >
                <store-order-detail [order]="order">
                </store-order-detail>
            </app-accordion>
        </section>
        <section *ngIf="closedOrders.length">
            <h2>Geschlossene Bestellungen</h2>
            <app-accordion 
                *ngFor="let order of closedOrders"
                [header]="title(order)"
            >
                <store-order-detail [order]="order">
                </store-order-detail>
            </app-accordion>
        </section>
    </div>
</div>
