<div class="orders page-container">
    <div class="container">
        <section>
            <h1>Bestellungen</h1>
        </section>
        <section *ngIf="providedExchanges.length">
            <h2>Eingegangene Tauschanfragen</h2>
            <app-accordion
                *ngFor="let exchange of providedExchanges"
                [header]="exchangeTitle(exchange)"
            >
                <app-store-exchange-detail [exchange]="exchange">                    
                </app-store-exchange-detail>
            </app-accordion>
        </section>
        <section *ngIf="orders.length">
            <h2>Ausstehende Bestellungen</h2>
            <app-accordion 
                *ngFor="let order of orders"
                [header]="orderTitle(order)"
            >
                <app-store-order-detail [order]="order">
                </app-store-order-detail>
            </app-accordion>
        </section>
        <section *ngIf="exchanges.length">
            <h2>Ausstehende Tauschanfragen</h2>
            <app-accordion
                *ngFor="let exchange of exchanges"
                [header]="exchangeTitle(exchange)"
            >
                <app-store-exchange-detail [exchange]="exchange">                    
                </app-store-exchange-detail>
            </app-accordion>
        </section>
    </div>
</div>
