<div class="provider page-container">
    <div class="container">
        <section>
            <h1>Lieferanten</h1>
        </section>
        <section>
            <h2>Neuen Lieferanten hinzufügen</h2>
            <form class="provider-detail" (submit)="submitProvider()">
                <div class="input-wrapper">
                    <label for="name">Name</label>
                    <input 
                        name="name"
                        class="input--labeled"
                        type="text"
                        [(ngModel)]="newProvider.name"
                    >
                </div>
                <div>
                    <button class="button__form" type="submit">Speichern</button>
                </div>
            </form>
        </section>
        <section>
            <h2>Alle Lieferanten</h2>
            <app-accordion
                *ngFor="let provider of providers"
                [header]="provider.name"
            >
                <div class="provider__detail">
                    <div class="input-wrapper">
                        <label for="id">Id</label>
                        <input 
                            name="id"
                            readonly="readonly"
                            [ngModel]="provider.id"
                            class="input--labeled"
                        >
                    </div>
                    <div>
                        <div class="input-wrapper">
                            <label for="name">Name</label>
                            <input
                                name="name"
                                type="text"
                                [(ngModel)]="provider.name"
                                class="input--labeled"
                            >
                        </div>
                        <button 
                            class="button__form"
                            (click)="saveChanges(provider)"
                        >
                            Speichern
                        </button>
                    </div>
                </div>
                <div class="provider__products" *ngIf="getProducts(provider).length">
                    <p>Belieferte Produkte:</p>
                    <ul class="table">
                        <li 
                            *ngFor="let product of getProducts(provider)"
                            (click)="toProductPage(product)"
                        >
                            {{ product.id }}: {{ product.name }}
                        </li>
                    </ul>
                </div>
            </app-accordion>
        </section>
    </div>
</div>
