<button class="navigation__button" (click)="toggle()">
    <div class="bar bar-1" [class.bar-1--open]="opened"></div>
    <div class="bar bar-2" [class.bar-2--open]="opened"></div>
    <div class="bar bar-3" [class.bar-3--open]="opened"></div>
</button>
<div *ngIf="opened" class="navigation">
    <nav class="navigation__content" (click)="toggle()">
        <ul>
            <li><a [routerLink]="'/kasse/home'">Kasse</a></li>
            <li><a [routerLink]="'/filiale/home'">Store</a></li>
            <li><a [routerLink]="'/admin/home'">Enterprise</a></li>
        </ul>
    </nav>
</div>