<div class="products page-container">
    <div class="container">
        <section>
            <h1>Produkte bestellen</h1>
        </section>
        <section *ngIf="runningOutOfStock.length">
            <div class="products__low-stock">
                <h2>Geringer Bestand:</h2>
                <button (click)="addAllToCard(runningOutOfStock)">
                    <img 
                        src="assets/svg/shopping-basket-solid.svg"
                        alt="In den Warenkorb"
                    >
                </button>
            </div>
            <ul>
                <app-product-table-row 
                    *ngFor="let item of runningOutOfStock"
                    [product]="item.product"
                    [amount]="item.stock"
                    [warn]="true"
                    (selectProductEvent)="navigateToDetail($event)"
                >
                </app-product-table-row>
            </ul>
        </section>
        <section>
            <h2>Alle Produkte:</h2>
            <ul>
                <app-product-table-row 
                    *ngFor="let item of inventory"
                    [product]="item.product"
                    [amount]="item.stock"
                    (selectProductEvent)="navigateToDetail($event)"
                >
                </app-product-table-row>
            </ul>
        </section>
        <section>
            <button class="button" (click)="createNewProduct()">Produkt hinzufügen</button>
        </section>
    </div>
</div>
