@import "variables";

.products {
    justify-content: center;
    overflow-x: hidden;

    h2 {
        margin-bottom: $spacing-s;
        font-size: $text-l;
    }

    &__low-stock {
        @include flex-center($justify: space-between);

        img {
            width: 25px;
            margin-bottom: $spacing-s;
        }
    }
}
