<div class="products page-container">
    <div class="container">
        <section>
            <h1>Produkte bestellen</h1>
        </section>
        <section *ngIf="runningOutOfStock.length">
            <h2>Geringer Bestand:</h2>
            <ul>
                <app-product-table-row 
                    *ngFor="let product of runningOutOfStock"
                    [product]="product"
                    [amount]="inventory.get(product)"
                    [warn]="true"
                    (selectProductEvent)="addToCard($event)"
                >
                </app-product-table-row>
            </ul>
        </section>
        <section>
            <h2>Alle Produkte:</h2>
            <ul>
                <app-product-table-row 
                    *ngFor="let item of inventory | keyvalue"
                    [product]="item.key"
                    [amount]="item.value"
                    (selectProductEvent)="addToCard($event)"
                >
                </app-product-table-row>
            </ul>
        </section>
    </div>
</div>