@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<section class="container">
    <div>
        <section>
            <h2>Mein Profil</h2>
        </section>
        <section>
            <h4>Einstellungen bearbeiten</h4>
            <hr />
        </section>
        <section>
            <div class="row">
                <div class="col-md-3">
                    <section>
                        <partial name="_ManageNav" />
                    </section>
                </div>
                <div class="col-md-9 wrapper">
                    <div class="form">
                        <section>
                            @RenderBody()
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
