<div class="shopping-card">
    <ul class="shopping-card__items">
        <li *ngFor="let product of getProductSet()" (click)="select(product)">
            <span>{{ getAmount(product) }}</span>
            <span>{{ product.name }}</span>
            <span>{{ product.price.toFixed(2) }} €</span>
            <button *ngIf="isSelected(product)"
                    class="shopping-card__remove-button"
                    (click)="removeProduct(product)">
                x
            </button>
        </li>
    </ul>
    <div class="shopping-card__summary">
        <div class="shopping-card__total">
            <strong>Total</strong>
            <strong>{{ getTotalPrice() }} €</strong>
        </div>
        <div class="shopping-card__payment-buttons">
            <button>Bar</button>
            <button>Karte</button>
        </div>
    </div>
</div>