<div class="checkout page-container">
    <div class="checkout__products">
        <div *ngIf="expressMode" class="checkout__express">
            Express Modus - 50% Rabatt
        </div>
        <div class="checkout__product-list" #productList>
            <app-product-list
                [discount]="discount"
                [products]="products"
                (clickProductEvent)="addToCard($event)"
                (filterEvent)="getFilteredProducts($event)"
            ></app-product-list>
        </div>
        <div class="checkout__barcode">
            <form (submit)="onSubmit()">
                <input
                    [(ngModel)]="barcode"
                    #barcodeInput
                    name="barcode"
                    class="checkout__barcode-input"
                    placeholder="Barcode scannen">
                <button type="submit"></button>
            </form>
        </div>
    </div>
    <div class="checkout__shopping-card">
        <app-cashdesk-shopping-card
            [discount]="discount"
            (addProductEvent)="addToCard($event)"
            (removeProductEvent)="removeFromCard($event)"
        ></app-cashdesk-shopping-card>
    </div>
</div>
