<div class="navigation">
    <div class="container">
        <nav>
            <a [routerLink]="'/store'">Mein Store</a>
            <ul>
                <li><a [routerLink]="'/store/inventory'">Produkte</a></li>
                <li><a [routerLink]="'/store/orders'">Bestellungen</a></li>
                <li>Reports</li>
            </ul>
            <button class="button__card">
                <img src="/assets/img/svg/shopping-basket-solid.svg">
            </button>
        </nav>
    </div>
</div>