<div class="navigation">
    <div class="container">
        <nav>
            <a [routerLink]="'/store'">Dashboard</a>
            <ul>
                <li><a [routerLink]="'/store/products'">Produkte</a></li>
                <li><a [routerLink]="'/store/orders'">Bestellungen</a></li>
                <li>Reports</li>
                <li>
                    <button class="card__button" (click)="openShoppingCard()">
                        <img src="assets/svg/shopping-basket-solid.svg">
                        <span class="card__label" *ngIf="shoppingCardItems > 0">
                            {{ shoppingCardItems }}
                        </span>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</div>