@import "variables";

.navigation {
    position: sticky;
    z-index: 12;
    top: 0;
    width: 100%;
    background-color: $color-white;
    box-shadow: 0 0 10px 6px rgba($color-black, 0.1);


    nav {
        @include flex-center($justify: space-between);
        font-size: $text-m;
        height: 65px;
        
        > * {
            height: 100%;
            margin: 0;
            gap: 20px;
            @include flex-center();
        }

        ul {
            width: 80%;
            justify-content: flex-end;
        }

        *:hover {
            text-decoration: none;
            user-select: none;
        }
    }

    .button__card {
        border: 0;
        background: transparent;

        img {
            height: 20px;
        }

        &::before {
            content: "|";
        }
    }
}